/*分页*/
#pages {font-family:宋体; text-align:center;margin-top:5px; }
#pages a { display:inline-block; height:22px; line-height:22px; background:#c9c9c9; border:1px solid #e3e3e3; text-align:center; color:#fff; margin-left:4px; padding:0 4px;}
#pages a.current { display:inline-block; width:26px; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center; }
#pages a.page_prev,#pages a.page_first,#pages a.page_last,#pages a.page_next { background:#4d81bb  0 5px; width:50px;}
#pages a:hover { background:#F96; color:#000; text-decoration:none; }

#pfoot{width:980px; line-height:50px;margin:0 auto;color:#666;}
#pfoot address{font-style:normal;}
#pfoot address a{color:#666;margin-left:10px;}
#pfoot address a:hover{text-decoration:underline;}

.left{float:left;}
.right{float:right;}

.main_right{ width:250px;float:right;}
.clearfix{display:block;}

.pic_text{margin:15px 10px 15px 15px; height:50px;}
.pic_text img{float:left;margin-right:15px; width:50px; height:50px;}
.pic_text p{line-height:20px;color:#666;}
.pic_text p.memb{line-height:12px;margin-bottom:6px;}
.pic_text p.memb a{margin-right:10px;}
.pic_text p span{color:#999; float:left;}

.box2{border:1px solid #e6e6e6; background-color:#fff;margin-top:10px;}
.box2 h2{font-size:14px;padding:15px;}
.box2 h2 a{float:right;font-size:12px; font-weight:normal;}
.box2 h3{height:42px; font-size:12px; font-weight:normal; line-height:42px;background-color:#F1F1F1;padding:0 15px;}
.box2 h3 a{color:#333; text-decoration:underline; float:right;}
.spr_consul{margin:0 0 15px 10px;}
.spr_consul .ico25{float:left;margin-top:5px;}

a.btn{ background-image:url(../images/button.jpg);display:inline-block;padding:0 5px; text-decoration:none;}
.bt_orange{background-position:left -384px;width:100px;height:37px; line-height:35px;text-align:center;color:#fff;}
.bt_orange:hover{background-position:right -384px;}
.bt_bgblue{background-position:left -424px;width:100px;height:37px; line-height:35px;text-align:center;color:#fff;}
.bt_bgblue:hover{background-position:right -424px;}

.mn_ico{ background:url(../images/main_ico.png) no-repeat;}

body{font-size:12px;font-family:"宋体";color:#1F1813;}
*{padding:0;margin:0;}
a{outline: none;color:#2097DD;}
a img{border:0;}
a:active {star:expression(this.onFocus=this.blur());}
:focus {outline:0;}
li{list-style-type:none;}

#lightbox_bg, #lightbox_img, #lightbox_tool, #lightbox_vbg, #lightbox_v, #xqs_sdiv {
	position: absolute;
	top: 0;
	left: 0;
}
#xqs_sdiv {
	overflow: auto;
}
#lightbox_bg, #lightbox_vbg {
	z-index: 10;
	background: #000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#lightbox_img, #lightbox_v {
	z-index: 15;
	padding: 5px;
}
#lightbox_tool {
	z-index: 16;
	background: #fff;
}
#lightbox_tool img {
	margin: 2px;
	background-image: url(../images/tool_bg.gif);
	background-repeat: no-repeat;
}
#lightbox_img {
	background: #fff;
}
.user_pic_v, .user_pic_v1 {
	background-repeat: no-repeat;
	background-position: center center;
}
.user_pic_v {
	background-color: #fff;
}
#cphoto_v {
	background: #fafafa;
}
#img_mbg {
	border: 1px solid #999;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.user_photo_v0 {
	background: #000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
}
.nu_pdiv {
	border: 2px solid #e5e5e5;
	padding: 10px;
	background: #f5f5f5;
	width: 350px;
}
#img_mdiv {
	border: 1px solid #999;
	background: #fff;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	overflow: hidden;
	cursor: move;
}
#img_mdiv_v {
	top: 0;
	left: 0;
	z-index: 2;
	position: absolute;
}
#img_rbdiv {
	width: 20px;
	height: 20px;
	background: url(../images/moverb.gif) no-repeat right bottom;
	line-height: 20px;
	overflow: hidden;
	right: 0;
	bottom: 0;
	z-index: 5;
	position: absolute;
	cursor: se-resize;
}
#img_sdiv_s, #img_sdiv_b {
	border: 1px solid #999;
	background: #fff;
	overflow: hidden;
	text-align: left;
}
#move_bg {
	height: 20px;
	background: url(../images/bar_b.gif) no-repeat center center;
}
#move_bar {
	height: 20px;
	overflow: hidden;
	background: url(../images/bar_m.gif) no-repeat center center;
	cursor: move;
}