.Hidden{display:none;}
.Clearer{display:block;clear:both;font-size:1px;line-height:1px;margin:0;padding:0;}
.FlLeft{float:left;}
.FlRight{float:right;}
/*幻灯片区域背景*/
.MainBg{width:650px;margin:0 auto;}
/*标题和页码*/
.Title{padding:5px 20px 0 20px;line-height:40px;height:40px;}
.Title h1{display:inline;}
.Title .Counter{float:right;color:#666;}
.Title .CounterCurrent{color:#C00;font-size:20px;font-weight:bold;}
/*灰色分隔线*/
.SpaceLine{border-bottom:1px solid #333;height:1px;font-size:1px;}
/*大图展示区域*/
.OriginalPicBorder{padding:15px 15px 0 15px;}
#OriginalPic{overflow:hidden;position:relative;font-size:12px;}
#OriginalPic img{display:block;margin:0 auto;}
/*小图预览和滑动*/
.SliderPicBorder{width:650px;height:430px;overflow:hidden;}
.Summary{opacity: 0.9;
width: 630px;
height: 85px;
z-index: 100;
line-height: 20px;
display: block;
margin-right: 10px;
color: #fff;
overflow: hidden;
background-color: #333;
margin-top: -85px;}
.More{text-align:left;line-height:40px;height:40px;font-size:12px;display:block;} 
.More a{color:black;font-size:14px;}       
.ThumbPicBorder {width:650px;margin:0 auto;}
#ThumbPic img{border:2px solid #666;cursor:pointer;background-color:#666;margin:0 4px;width:80px;height:80px;display:block;}
#ThumbPic img.active{border:2px solid #FF9900;}