.clear{clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
html,body{ height:100%}
body{
	font-size:12px;font-family:"宋体";
	color:#1F1813;
	background-color:#FAFAFA;
}
*{padding:0;margin:0;}
a{outline: none;text-decoration:none;color:#2097DD;}
a img{border:0;}
a:active {star:expression(this.onFocus=this.blur());}
:focus {outline:0;}
ul,li{
	list-style-type:none;
	float:left;
}

.title6{
	color:#1f1313;
	font-size:16px;
	font-family:微软雅黑;
	font-weight:normal;
}
.halfPop{
	background-color:#000;
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	z-index:100;
	opacity:0.8;
	filter:alpha(opacity=80);       /* IE */
   -moz-opacity:0.8;              /* 老版Mozilla */
   -khtml-opacity:0.8;              /* 老版Safari */
}
.pop_chuang{
	position:absolute;
	left:40%;
	top:35%;
	display:none;
	z-index:101;
}
.center {
	width:960px;
	margin:0px auto;
}
.container{
	width:100%;
	float:left;
}
.leftpart{
	width:700px;
	float:left;
}
.rightpart{
	width:240px;
	float:left;
	margin-left:20px;
	background-color:#FFF;
}

.pbar{ height:35px; background:url(../images/Construction/top1.png) repeat-x; color:#FFF;}
.top{ width:960px; margin:0 auto; color:#999; font-family:"宋体"}
.top a{ color:#999;}
.top ul {margin-top:6px;padding:0;}
.top ul li {float:left; margin-right:30px; list-style:none; height:24px; line-height:24px; }
.top ul li span { margin-right:5px;}
.top ul li .hmiddle{ vertical-align:middle}
.orange a{ color:#FF6B24;}
.login { margin-top:11px;}
.phead { height:95px; background:url(../images/Construction/head_barbg.png) repeat-x; box-shadow:0px 2px 2px #D7D1CE}
.head { width:960px; margin:0 auto; height:95px; }
.logo { background:url(../images/Construction/logo.fw.png) no-repeat 0 20px;line-height:60px; padding-left:130px; margin-top:13px; font-size:14px; color:#999; font-weight:bold;}
.menu a{color:#FF6B24; font-weight:bold;width:73px; height:70px; float:left;text-align:center; padding:25px 7px 0;}
.menu a img{ border:0 none}
.menu span{width:73px; display:inline-block; padding-bottom:5px}
.topnav{
	height:22px;
	width:100%;
	float:left;
	padding:19px 0px;
}
.topnav ul li{
	margin-left:25px;
}
.topnav ul .current img{
	float:left;
}
.topnav ul li a{
	color:#333;
}
.topnav ul li span{
	height:22px;
	line-height:22px;
	display:block;
	float:left;
}
.topnav ul .current span{
	background:#ff6b24;
	color:#fff;
}

.topline{
	background:#252525;
	height:3px;
	width:100%;
	float:left;
}

.search_area{
	width:100%;
	float:left;
	padding:22px 0px;
}
.search_area span{
	float:left;
	line-height:20px;
	height:20px;
	display:block;
	color:#333;
}
.search_area a{
	margin-left:20px;
	color:#333;
	line-height:20px;
	height:20px;
	display:block;
	float:left;
	
}
.search_area .current{
	color:#fff;
	background:#ff6b24;
	padding:0px 8px;
}

.tabnav{
	height:46px;
	border-bottom:1px solid #c8cdce;
	width:100%;
	float:left;
}
.tabnav ul {
	border-right:1px solid #c8cdce;
}
.tabnav ul li{
}
.tabnav ul li a{
	width:145px;
	border-left:1px solid #c8cdce;
	border-top:1px solid #c8cdce;
	color:#1f1313;
	font-size:16px;
	font-family:微软雅黑;
	display:block;
	float:left;
	height:45px;
	line-height:45px;
	font-weight:bold;
	text-align:center;
	background:#fff;
}
 .current{
	height:42px;
	line-height:42px;
	border-bottom:1px solid #fff;
}
 .cur{
	border-top:4px solid #fe7a28;
	height:42px;
	line-height:42px;
	border-bottom:1px solid #fff;
}
.piclist{
	background:#fff;
	padding:20px 28px 20px 20px ;
	border-left:1px solid #c8cdce;
	border-right:1px solid #c8cdce;
	border-bottom:1px solid #c8cdce;
	float:left;
	width:910px;
}
.piclist .order{
	float:left;
	width:100%;
	padding:15px 0px 10px 0px;
	border-bottom:1px solid #c8cdce;
}
.piclist .order a {
	color:#333;
}
.left{
	float:left;
}
.right{
	float:right;
}
.piclist .picline{
	float:left;
	width:100%;
	padding:30px 0px 15px 0px;
	border-bottom:1px solid #c8cdce;
}
.piclist .piclinehead {
	float:left;
	width:100%;
	height:40px;
	line-height:20px;
}
.piclist .piclinehead  img{
	float:left;
}
.piclist .piclinehead  h6{
	float:left;
	font-weight:normal;
	font-size:16px;
	margin-left:15px;
	margin-right:25px;
}
.piclist .piclinehead  span{
	float:left;
	display:block;
	border:1px solid #bdbdbd;
	color:#bdbdbd;
	padding:0px 5px;
	margin-right:5px;
}
.piclist .picone{
	float:left;
	width:160px;
	margin-right:27px;
}
.piclist .lastone{
	margin-right:0px;
}
.piclist .picinfo{
	padding-top:3px;
	height:44px;
	line-height:22px;
	overflow:none;
}
.piclist .picinfo .gray{
	color:#999;
}
.center{ position:relative}
.ads{
	text-align:center;
	margin-left:10px;
	width:150px;
	height:320px;
	float:left;
	background-color:#c7c7c7;
	position:absolute;
	right:-160px;
	top:175px;
}
.ads h2{
	padding-top:150px;
}
.casetitle{
	width:100%;
	float:left;
	height:30px;
	line-height:30px;
	margin-bottom:14px;
}
.casetitle h4{
	float:left;
	color:#1f1313;
	font-size:18px;
	font-family:微软雅黑;
	font-weight:normal;
}
.casetitle div{
	padding-top:5px;
	display: block;
	float:right;
	color:#333;
}
.casetitle span{
	float:right;
}
.casetitle span img{
	 vertical-align:middle;
}
.casestep{
	float:left;
	width:100%;
	padding-top:18px;
	padding-bottom:18px;
}
.casestep li{
	display:block;
	float:left;
	height:57px;
}
.casestep li a{
	display:block;
	float:left;
	width:36px;
	padding-top:40px;
	background-image:url('../images/Construction/all.gif');
	background-repeat:no-repeat;
	margin-right:15px;
	color:#1f1313;
	font-family:微软雅黑;
	text-align:center;
}
.casestep .step1{
	background-position:0px 0px;
}
.casestep .step2{
	background-position:-36px 0px;
}
.casestep .step3{
	background-position:-72px 0px;
}
.casestep .step4{
	background-position:-108px 0px;
}
.casestep .step5{
	background-position:-144px 0px;
}
.casestep .step6{
	background-position:-180px 0px;
}
.casestep .stepgray1{
	background-position:-216px 0px;
}
.casestep .stepgray2{
	background-position:-252px 0px;
}
.casestep .stepgray3{
	background-position:-288px 0px;
}
.casestep .stepgray4{
	background-position:-324px 0px;
}
.casestep .stepgray5{
	background-position:-359px 0px;
}
.casestep .stepgray6{
	background-position:-396px 0px;
}
.casestep ul li div{
	float:left;
	height:57px;
	line-height:40px;
	margin-right:5px;
}
.casestep ul li span{
	background-image:url('../images/Construction/all.gif');
	background-position:-430px 0px;
	margin-right:8px;
}

.reserve{
	border:1px solid #e2e2e2;
	float:left;
	width:198px;
	padding:0px 20px 0px 20px;
}
.reserve .title{
	border-bottom:1px solid #e2e2e2;
	float:left;
	width:100%;
}
.reserve .title h4{
	float:left;
	color:#1f1313;
	font-size:18px;
	font-family:微软雅黑;
	font-weight:normal;
	margin-top:35px;
}
.reserve .title img{
	float:right;
}
.reserve .reason {
	padding:10px 0px;
	float:left;
	width:100%;
	border-bottom:1px solid #e2e2e2;
}
.reserve .reason ul li{
	display:block;
	width:100%;
	font-size:14px;
	height:24px;
	padding-top: 5px;
}
.reserve .reason ul li span{
	background-image:url('../images/Construction/all.gif');
	background-position:0px -60px;
	margin-right:6px;
}
.reserve .bottom {
	padding-top:15px;
	float:left;
	width:100%;
	line-height:20px;
}
.reserve .bottom p{
	margin-bottom:52px;
}

.casepic{
	background-color:#fff;
	border:1px solid #e2e2e2;
	padding:20px;
}
.casepic h1{
	float:left;
	font-size:20px;
	color:black;
}
.casepic .Counter{
	float:right;
	font-size:13px;
}
.case_p{
	height:2050px;
	background-color:#fff;
	border:1px solid #e2e2e2;
	margin-top:20px;
}
.z_span{
	font-size:15px;
	font-weight:bold;
	border-radius: 15px;
	display: inline-block;
	padding: 6px 17px;
	cursor:pointer;
	float:left;
}
.z_span.moren{
	background-color: #ff6b24;
	color:#FFF;
}
.case_tu .z_span{
	margin-top: 20px;
}


.case_tu .case_t{
	margin:15px auto;
	width:650px;
	border-top:2px solid #e2e2e2;
}

.case_t a img{
	width:200px;
	height:200px;
}
.case_t .ca1,.case_t .ca2{
	padding-top:20px;
}
.case_t .i1{
	margin-left:17px;
}
.case_t .i2{
	margin-left:17px;
}

.case_shi .yu{
	margin-left: 20px;
	margin-top: 40px;
	
	display: inline-block;
	float:left;
	padding: 6px 17px;
	overflow: hidden;
	font-weight: bold;
	font-size: 15px;
	cursor:pointer;
}
.yu.yumoren{
	border-radius: 15px;
	background-color: #ff6b24;
	color: white;	
}
.case_shi h5{
	margin-left: 150px;
	margin-top: -20px;
}
.case_shi h6{
	margin-left: 250px;
	margin-top: -20px;
}
.case_shi h5 a,.case_shi h6 a{
	font-size: 17px;
	color: black;
}
.case_shi .case_s{
	margin:15px auto;
	width:650px;
	border-top:2px solid #e2e2e2;
}
.case_s .ca_ta{
	margin-top:25px;
}
.ca_ta td{
	padding-bottom:15px;
}
.ca_ta .case_le{
	text-align:left;
	width:70px;
}
.ca_ta .case_ri{
	color:#666666;
	text-align:left;
	width:570px;
}
.case_zh .case_t{
	margin-left: 30px;
	margin-top: 40px;
}
.case_zh .case_t a{
	font-weight: bold;
	font-size: 17px;
	color: black;
}
.case_z {
	margin:15px auto;
	width:650px;
	border-top:2px solid #e2e2e2;
}
.case_z p{
	line-height: 20px;
	padding-top:20px;
	width:650px;
}

.case_pi .case_pt{
	margin-left: 30px;
	margin-top: 40px;
}
.case_pi .case_pt a{
	font-weight: bold;
	font-size: 17px;
	color: black;
}
.ping{
	margin-top:15px;
	margin:15px auto;
	width:650px;
	border-top:2px solid #e2e2e2;
}

.case_l .sp1{
	margin-top:20px;
}
.case_l .sp1 .tou{
	height:30px;
	width:30px;
}
.case_l .sp2{
	margin-top:10px;
	float:right;
}
.case_l p{
	line-height: 20px;
	padding-top:20px;
	padding-bottom:20px;
	width:650px;
	border-bottom:2px dashed #e2e2e2;
}

.case_l .case_my{
	margin-top: 20px;
}
.case_l .case_my a{
	font-weight: bold;
	font-size: 17px;
	color: black;
}
.case_l .my_ta{
	margin-top:40px;
}
.my_ta td{
	padding-bottom:10px;
}
.my_ta .my_le{

	width:50px;
	text-align: left;
}
.my_ta .my_ri{
	width:600px;
	text-align:left;
}
.my_ri input{
	height:120px;
	width:600px;
	color:#e2e2e2;
}
.my_foot{
	float:right;
}
.re{
	background-color:#ffffff;
	border:1px solid #ccc;
	margin: 0 auto;
	width:410px;
	height:300px;
}
.re .top,.cen,.foot{
	margin: 0 auto;
	width:245px;
}
.re .top h1{
	 float: right;
    margin-right: 25px;
    padding-top: 40px;
	font-size:20px;
}
.lefimg{
	float:left;
}
.re .cen{
	padding-left:7px;
	padding-top:15px;
}
.re .cen tr td{
	font-size:15px;
text-align:left;
}
.re .cen tr td input{
	width:170px;
	height:30px;
	color:#BFBFBF;
}
.re .foot{
	text-align:center;
	padding-top:20px;
}
.re .foot button{
	border:0px;
}
.s_top{
	background-color:#404040;
	height:35px;
}
.headerTop{
	 background:url(../images/Construction/headerTop.png) repeat-x;
	 height:78px;
	 position:absolute;
	 left:0;
	 top:34px;
	 width:100%;
	 z-index:-1;
}
.headerTopBanner{
	background-color:#EC743F;
	border-top:#BD5A31 1px solid;
	border-bottom:#BD5A31 1px solid;
	position:absolute;
	left:0;
	top:115px;
	width:100%;
	height:438px;
	z-index:-1;
}
.shou{
	width:1276px;
	margin:0 auto;
	background-image: url("../images/Construction/shou1.gif");
	background-repeat: no-repeat;
	min-height:100%;
	height:auto;
	background-color:#FFF
}
.re_dian{
	padding-top:420px;
	padding-left:0px;
}
.re_dian a{
	padding-left:30px;
}
.er{
	padding-top:100px;
	padding-left:30px;
}
.shou p{
	padding-right:200px;
	color:#666666;
	float:right;
	padding-bottom:10px;
}
/*底部foot*/
.footer { height:50px; margin-top:40px;}