@charset "utf-8";
/* CSS Document */
body{ font-family:"微软雅黑",Arial; font-size:12px; color:#767676}
a{ color:#767676}
a:hover{ text-decoration:none}
header{ background-color:#555}
header nav ul li{ float:left; margin-right:10px}
header nav ul a{ display:block; height:79px; padding:0 25px 0 15px; line-height:79px; font-size:14px; color:#fff}
header nav ul a span{ float:left}
header nav ul a .nav-ico{ width:20px; height:20px; margin-right:12px; background:url(../images/nav-ico.png) -20px -8px no-repeat; margin-top:30px}
header nav ul a.bg-col-sty{ background-color:#eec210; color:#424242}
header nav ul a .ico1{ background-position:-68px -8px}
header nav ul a.bg-col-sty .ico1{ background-position:-20px -8px}
header nav ul a .ico2{ background-position:-68px -50px}
header nav ul a.bg-col-sty .ico2{ background-position:-20px -50px}
header nav ul a .ico3{ background-position:-68px -86px}
header nav ul a.bg-col-sty .ico3{ background-position:-20px -86px}
header nav ul a .ico4{ background-position:-68px -128px}
header nav ul a.bg-col-sty .ico4{ background-position:-20px -128px}
header nav ul a .ico5{ background-position:-68px -162px}
header nav ul a.bg-col-sty .ico5{ background-position:-20px -162px}
.content{ background:url(../images/bg-content-right.jpg) right top repeat-y #fff; position:relative}
.content .w737{ width:737px}
.content .w223{ width:223px}
.tab-cut{ position:absolute; left:0; top:45px; font-size:14px}
.tab-cut li{ margin-bottom:10px}
.tab-cut a{ width:75px; line-height:30px; display:block; padding-left:20px}
.tab-cut a.mr-ck{ background:url(../images/tabbg.png) left top no-repeat; font-size:18px; color:#fff}
.stop{ background:url(../images/stop-again.png) no-repeat; border:none; margin-left:10px; vertical-align:middle; width:90px; height:22px; font-size:"微软雅黑"; color:#fff}
.again{ background:url(../images/stop-again1.png) no-repeat; border:none; margin-left:10px; vertical-align:middle; width:90px; height:22px; font-size:"微软雅黑"; color:#fff}

.content .bor-top-1,.content .bor-top-2,.content .bor-top-3,.content .bor-top-4,.content .bor-top-5,.content .bor-top-6,.content .bor-top-7{ position:relative; z-index:2}
.content .bor-top-1{ border-top:#A1686C 1px dashed}
.content .bor-top-2{ border-top:#C2797E 1px dashed}
.content .bor-top-3{ border-top:#A06AA0 1px dashed}
.content .bor-top-4{ border-top:#6C6CA0 1px dashed}
.content .bor-top-5{ border-top:#6EA5A3 1px dashed}
.content .bor-top-6{ border-top:#70A46F 1px dashed}
.content .bor-top-7{ border-top:#9CA270 1px dashed}
.xg-mouse{ height:32px; line-height:31px}
.content .font-style{ font-family:"Arial"; font-size:14px}
.content .font-size{ font-size:20px; color:#000}
.content .boxhover:hover .font-size{ font-size:22px}
.content .point-accept li{ float:left}
.content .point-accept li a{ display:block}
.content .point-accept li span{ float:left}
.content .point-accept li span.span-ico{ width:22px; height:22px; background:url(../images/nav-ico.png) -120px -7px no-repeat}
.content .point-accept li span.span-ico.ico1{ background-position:-120px -7px}
.content .point-accept li.forbid a{ cursor:default}
.content .point-accept li.forbid span.span-ico.ico1{ background-position:-160px -7px}
.content .point-accept li span.span-ico.ico2{ background-position:-120px -48px}
.content .point-accept li.forbid span.span-ico.ico2{ background-position:-160px -48px}
.content .plan-right{ position:absolute; left:250px; top:0}
.content .plan-left{ position:absolute; left:-67px; top:0}
.content .plan-right .h-9,.content .plan-left .h-9{ position:relative}
.content .plan-right .h-9 span,.content .plan-left .h-9 span{ position:absolute; left:0; width:38px; margin-top:-9px}
.content .plan-left .h-9 span{ text-align:right}
.content .plan-left .h-9 .s-style1,.content .plan-left .h-9 .s-style2,.content .plan-left .h-9 .s-style3,.content .plan-left .h-9 .s-style4,.content .plan-right .h-9 .s-style1,.content .plan-right .h-9 .s-style2,.content .plan-right .h-9 .s-style3{ font-size:14px; line-height:18px;}
.content .plan-left .h-9 .bg-left1,.content .plan-left .h-9 .bg-left2,.content .plan-left .h-9 .bg-left3,.content .plan-left .h-9 .bg-left4{ padding-right:20px;}
.content .plan-left .h-9 .s-style1{ color:#a36b6b}
.content .plan-left .h-9 .bg-left1{ background:url(../images/bg-left-img1.png) right center no-repeat}
.content .plan-left .h-9 .s-style2{ color:#A06AA0}
.content .plan-left .h-9 .bg-left2{ background:url(../images/bg-left-img3.png) right center no-repeat}
.content .plan-left .h-9 .s-style3{ color:#6ba398}
.content .plan-left .h-9 .bg-left3{ background:url(../images/bg-left-img5.png) right center no-repeat}
.content .plan-left .h-9 .s-style4{ color:#a3976b}
.content .plan-left .h-9 .bg-left4{ background:url(../images/bg-left-img7.png) right center no-repeat}
.content .plan-right .h-9 .s-style1{ color:#a36b6b}
.content .plan-right .h-9 .bg-left1{ padding-left:20px; background:url(../images/bg-left-img2.png) left center no-repeat}
.content .plan-right .h-9 .s-style2{ color:#6B72A0}
.content .plan-right .h-9 .bg-left2{ padding-left:20px; background:url(../images/bg-left-img4.png) left center no-repeat}
.content .plan-right .h-9 .s-style3{ color:#75a36b}
.content .plan-right .h-9 .bg-left3{ padding-left:20px; background:url(../images/bg-left-img6.png) left center no-repeat}

.content .forbidden-box li a{ cursor:default}
.content .forbidden-box li span.span-ico.ico1{ background-position:-160px -7px}
.content .forbidden-box li span.span-ico.ico2{ background-position:-160px -48px}
.content .forbidden-box .font-size,.content .forbidden-box .plan-left .h-9 .s-style1,.content .forbidden-box .plan-left .h-9 .s-style2,.content .forbidden-box .plan-left .h-9 .s-style3,.content .forbidden-box .plan-left .h-9 .s-style4,.content .forbidden-box .plan-right .h-9 .bg-left1,.content .forbidden-box .plan-right .h-9 .bg-left2,.content .forbidden-box .plan-right .h-9 .bg-left3{ color:#767676}

.r-nav li a{ line-height:31px; display:block; font-size:14px; color:#181818; background:url(../images/rightnav-bg.png) left top no-repeat; padding-left:45px; margin-bottom:24px}
.r-nav li .ico1{ background-position:0 0}
.r-nav li .ico2{ background-position:0 -55px}
.r-nav li .ico3{ background-position:0 -110px}
.r-nav li .ico4{ background-position:0 -166px}
.r-nav li .ico5{ background-position:0 -222px}
/*log-in*/
.log-in{ background-color:#fff; border:#F5F4BA 1px solid; display:none}
.log-in .ts-tit{ font-size:14px; color:#3b3b3f}
.log-in .ts-tit span.f-s{ font-size:30px; font-weight:bold}
.log-in .ts-tit a{ color:#f76a5f}
.from-box label{ display:block}
.from-box label.l-bg{ background:url(../images/from-text-bg.jpg) left center no-repeat}
.from-box label.l-bg input{ width:303px; padding-left:10px}
.from-box label.l-bg-yz{ background:url(../images/yzmtext-bg.jpg) left center no-repeat}
.from-box label.l-bg-yz input{ width:92px; padding-left:10px}
.from-box label input[type=text]{ border:0 none; background:none; font-family:"微软雅黑"; height:34px; line-height:34px; font-size:16px; color:#9e9e9e}
.from-box .sub-mit{ border:0 none; background:url(../images/submit-bg.jpg) no-repeat; width:140px; height:40px; font-size:25px; color:#fff; font-family:"微软雅黑"; font-weight:normal; margin-left:70px; margin-top:30px}
/*费用*/
.pie-chart li{ color:#272727;  line-height:30px; width:100px;}
.pie-chart li .icon{float:left;width:25px;height:10px;margin-right:10px;margin-top:10px;}
.pie-chart li.ico1{ background-position:left 10px}
.pie-chart li.ico2{ background-position:left -21px}
.pie-chart li.ico3{ background-position:left -51px}
.pie-chart li.ico4{ background-position:left -82px}
.pie-chart li.ico5{ background-position:left -113px}
.pie-chart li.ico6{ background-position:left -143px}
.pie-chart li.ico7{ background-position:left -174px}
.pie-chart li.ico8{ background-position:left -205px}
.pie-chart li.ico9{ background-position:left -235px}
.cl-p a{ width:59px; height:23px; line-height:23px; text-align:center; background:url(../images/tabimg-bg2.jpg) left top no-repeat; color:#414141}
.cl-p a.addbg{ background-position:left -23px; color:#FFF}
.n-compile{ width:170px; background-color:#F45E62; color:#fff}
.n-compile p{ font-size:14px}
.n-compile a{ color:#fff; font-size:12px}
.bg-color-h{ background-color:#FDFAF1}
.bg-color-h ul{ margin-left:18px; padding-top:10px; padding-bottom:10px}
.bg-color-h li{ font-family:"黑体"; font-size:12px; color:#000; line-height:30px}
.bg-color-h li a{ color:#f86a5e}
.bo-t{ border-top:#e8e8e8 1px solid; height:20px; width:475px; margin-top:35px}
.bo-t span{ font-size:18px; color:#0f4603; margin:-13px auto 0 auto; text-align:center; width:100px; background-color:#fff; display:block}
.tables thead{ background-color:#FFF6F5; font-size:14px; color:#3d3d18; border-bottom:#FEE0DF 1px solid; border-top:#FEE0DF 1px solid}
.tables th{ font-weight:normal;}
.tables td,.tables th{ height:33px; line-height:33px}
.tables td{ text-align:center; border:#ECECEC 1PX solid; font-family:"宋体"; color:#5c5c5c}
.f-weight{ font-weight:bold}

/*预算*/
.tab-show-in a{ font-size:14px; color:#5d2300; margin-right:15px}
.tab-show-in a.mr-sty{ font-size:22px}
.g-ys-tit a{ font-size:14px; color:#000; margin-right:15px}
.calculate{ border:#E7E7E7 1px solid}
.from-div label{ float:left; height:24px; line-height:24px}
.from-div input[type='text']{ width:105px; padding-left:5px; font-size:12px; color:#8f8f8f; font-family:"微软雅黑"; height:20px; border:#D9D9D9 1px solid; line-height:20px}
.from-div select{ width:110px; padding:2px 0; border:#D9D9D9 1px solid}
.from-div input[type='submit']{ border:0 none; background:url(../images/ygfy-bg.jpg) no-repeat; width:74px; height:21px; color:#5d2300; margin-left:60px}
.ys-tab-b thead{ border-top:#BCCC83 1px solid; border-bottom:#BCCC83 1px solid; background-color:#F5FFE4;}
.ys-tab-b thead th{ height:33px;  text-align:center; font-size:14px; color:#3d3d18; font-weight:normal}
.ys-tab-b tbody,.ys-tab-b tfoot{ font-family:"宋体"; font-size:12px; color:#5c5c5c}
.ys-tab-b tbody th{ border:#ECECEC 1px solid}
.ys-tab-b tbody td{ text-align:center; height:31px; border:#ECECEC 1px solid}
.ys-tab-b tfoot td{ text-align:center; height:31px;}
.sub-btn input{ border:0 none; background:url(../images/ygfy-bg.jpg) no-repeat; width:74px; height:21px; color:#5d2300; margin-left:230px}

/*软装，硬装费用编辑*/
.cost-compile-pop{ border:#F5F4BA 1px solid; background-color:#fff}
.center-box{ margin:0 auto; padding-top:25px}
.stamp{ height:55px; line-height:55px; font-weight:normal; background-color:#F5F5F5; text-align:center; font-size:24px; color:#3b3b3f}
.stamp span{ font-size:14px}
.center-box thead th{ border-top:#BCCC83 1px solid; border-bottom:#BCCC83 1px solid; font-size:14px; color:#3d3d18; background-color:#F5FFE4; line-height:50px}
.center-box tbody th,.center-box tbody td{ font-family:"宋体"; color:#5c5c5c; border:#DFDFDF 1px solid; font-weight:bold; line-height:45px; text-align:center}
.center-box tbody td input[type='text']{ width:50px; border:0 none; font-family:"宋体"; font-weight:bold; color:#5c5c5c}

/*阶段简介*/
.page-bg{ background:url(../images/page-bg.jpg) left top no-repeat; width:565px; height:702px}
.h-title-s{ font-size:30px; color:#3b3b3f}
.gq-time{ font-size:16px; font-weight:normal; color:#000; display:block; margin-top:25px}
.gq-time input[type='text']{ width:90px; background-color:none; color:#000; font-family:"微软雅黑"; font-size:16px}
.ja-con{ font-size:14px; color:#575757; text-indent:2em; line-height:48px}
/*知识点，验收点*/
.bd{ margin-left:35px}
.top{ overflow:hidden;float:left}
.top ul li a{ font-size:18px; color:#000; line-height:50px}
/*验收记录*/
.ys-record{ width:800px;  background-color:#FDFFF6}
.ys-record h1{ font-size:30px; color:#3b3b3f; text-align:center}
.bg-box{ background-color:#69B037; width:641px; margin:0 auto}
.classify{ position:relative; z-index:22; background-color:#69B037}
.classify a{ color:#fff; display:block; height:50px; line-height:50px; width:78px; text-align:center; font-size:14px}
.classify a.a-bg-c{ background-color:#579A2B}
.list-table thead{ background-color:#F5FFE4; border-bottom:#BCCC83 1px solid; border-top:#BCCC83 1px solid}
.list-table thead th{ height:44px; font-weight:normal; color:#888e72; font-size:14px}
.bg-bgcolor{ background-color:#E3F4C3; height:22px; line-height:22px; width:192px}
span.w96{ width:96px; height:22px}
.list-table tbody td{ background-color:#fff; text-align:center; border:#EBEBEB 1px solid; height:60px; font-size:14px; color:#595959;}
.pore{ position:relative; z-index:9999999}
.compile-b{ position:absolute; right:10px; top:-6px}
.pore-t{ position:relative}
.show-btn{ position:absolute; left:0; top:20px; z-index:111; border:#838383 1px solid; height:43px}
.show-btn a{ line-height:43px}
.qualified{ background-color:#FBFBFB; color:#269703}
.disqualification{ background-color:#e9e9e2; color:#ae0f14}
.btn-s{background:url(../images/bc-sub.jpg) no-repeat; width:58px; height:22px; border:none}

/*信息录入*/
.inform-t{ font-size:24px; color:#555555; padding-left:20px; background:url(../images/inforbg.jpg) left center no-repeat}
.fromdiv label{ float:left; font-size:14px; height:24px; line-height:24px; font-family:"宋体"; font-weight:bold; width:110px; text-align:right}
.text-bg1{ border:0 none; color:#939191; background:url(../images/textbg1.jpg) no-repeat; width:173px; padding-left:5px; height:24px; line-height:24px}
.text-bg2{ border:0 none; color:#939191; background:url(../images/textbg2.jpg) no-repeat; width:91px; padding-left:5px; height:24px; line-height:24px}
.fromdiv .select1{ width:90px; border:#D6D6D6 1px solid}
.fromdiv .select2{ width:178px; border:#D6D6D6 1px solid}
.jd-list li{ float:left; width:60px; height:35px; line-height:35px}
.jd-list input[type='checkbox']{ vertical-align:middle}
.jd-list span{ vertical-align:middle; margin-left:5px}
.btn-tj{ border:0 none; background:url(../images/ygfy-bg.jpg) no-repeat; width:74px; height:21px; color:#5d2300; margin-left:10px; cursor:pointer}


/*信息录入select下拉模拟*/
.fromdiv .sel-mn1{ background:url(../images/select-bg-mn1.jpg) no-repeat; position:relative; width:96px; cursor:default; color:#9c9c9c}
.fromdiv .sel-mn2{ background:url(../images/select-bg-mn.jpg) no-repeat; position:relative; width:178px; cursor:default; color:#9c9c9c}
.fromdiv .sel-mn2 p,.fromdiv .sel-mn1 p{ height:24px; padding-left:5px; line-height:23px; -moz-user-select:none/*火狐禁止选中文字*/; -webkit-user-select:none/*谷歌禁止选中文字*/}
.option-list{ position:absolute; left:0; top:22px; display:none; border:#D6D6D6 1px solid; border-top:0 none; background-color:#fff}
.w-wid176{ width:176px}
.w-wid96{ width:94px}
.option-list a{ display:block; color:#9c9c9c; line-height:23px; padding-left:5px}
.option-list a:hover{ background-color:#F2F2F2}
.option-list a.selected{ background-color:#E5E5E5}

/*知识点*/
.sm-title{ font-size:18px; color:#94be2c; font-weight:normal; padding-left:30px; line-height:25px}
.sm-title.ico1{ background:url(../images/sm-title-ico.png) left 1px no-repeat}
.sm-title.ico2{ background:url(../images/sm-title-ico.png) left -43px no-repeat}
.sm-tit-h2{ font-size:16px; font-weight:normal; color:#000}
.sm-list-box a{ font-family:"宋体"; font-size:12px; color:#7f7f7f; line-height:23px}
.seek-box{ background:url(../images/select-kbg.png) left top no-repeat; width:396px; height:41px}
.seek-box input[type=text]{ border:0 none; background:none; vertical-align:middle; height:33px; line-height:33px; width:337px; margin-top:3px; margin-left:15px; color:#b7b7b7}
.seek-box input[type=submit]{ border:0 none; background:none; vertical-align:middle; height:40px; line-height:40px; width:43px}
.seek-box input:focus{ outline:none}
.hot-word{ font-family:"宋体"; background:url(../images/borderbg.jpg) left bottom repeat-x}
.hot-word strong{ color:#94be2c}
.hot-word a{ color:#555; margin-right:8px}
.tu-li{ margin-right:-40px; padding-top:10px}
.tu-li li{ float:left; margin-right:29px; margin-top:10px; position:relative}
.tu-li li a{ display:block; position:relative}
.mouse-s-box{ width:100%; height:100%; position:absolute; left:0; top:0;filter:Alpha(opacity=65); background-color:#000; background-color:rgba(0,0,0,.65); color:#fff; display:none}
.mouse-s-box p{ position:absolute; bottom:10px; left:0}
.tu-li li a:hover .mouse-s-box{ display:block}
.hot-word-list{ padding:15px}
.hot-word-list li{ border-bottom:#A0A0A0 1px dashed; font-family:"宋体"; line-height:40px; height:40px}
.hot-word-list li a{ float:left; color:#555}
.hot-word-list li span{ float:right; color:#989898}
